 .top-nav{
    font-size: large;
    position: fixed;
    z-index: 1;
    width: 100%;
} 
.sub-nav{
    position: fixed;
    z-index: 1;
    margin-top: 43px;
    width: 100%;
}
.image1{
    border-radius:50px ;
    margin-left: 15%;
}
 .sub-nav2  li{
    position: relative;
    bottom: 50px;
    padding: 10px;
}
.sub-nav2  li:hover{
    border-bottom: 3px solid green;
}
.image2{
    margin-top: 10rem;
    max-width: 200px;
    margin-bottom: 0px;
} 
.image3{
    margin-top: 5rem;
    margin-bottom: 5px; 
    width: 500px;
    height: 500px;
} 
.footer-sect{
    height: 50px;
}
.image5{
    position: relative;
    bottom: 4rem;
    left: 16rem;
}
.text2{
    width: 500px;
} 
 .about{
    margin-top: 5rem;
} 
.image6{
    margin-left: 7rem;
    margin-top:0rem;
    border-radius: 10px;
}
.image7{
    margin-left: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.image8{
    margin-left: 8rem;
    border-radius: 30px;
}
.text5{
    margin-top: 1rem;
}
a{
    text-decoration: none;
    color: white;
}
.text6{
    width: 300px;
}